@import "../variables";

.terminal-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background-color: #134d88;
    width: 80%;
    height: 90%;
    max-height: 575px;
    max-width: 920px;
    border-radius: 1rem;

    .close--btn {
      width: 1rem;
      height: 1rem;
      background-color: red;
      border-radius: 50%;
      margin-top: 1rem;
      margin-left: 1rem;
    }

    .v-card {
      background-color: unset;
      box-shadow: none;
      height: 100%;

      .v-tab {
        display: block;
        text-align: start;
        padding-left: 0.5rem;
        min-width: 9rem;

        .v-btn__content {
          display: flex;
          justify-content: space-between;
        }
        &.v-slide-group-item--active {
          background-color: #d9d9d9;
          border-radius: 1rem 1rem 0 0 !important;
          transition: all 0.1s ease;
        }
        .close--btn {
          margin: 0;
          display: none;
        }
        &:hover {
          .close--btn {
            display: block;
          }
        }
      }

      .add--tab {
        color: #d9d9d9;
        font-size: 1.5rem;
        padding-left: 0.5rem;
      }

      // .xterm-helpers {
      //   display: none;
      // }

      .v-card-text {
        padding: 0;
        height: 80%;
        overflow: auto;

        .v-window {
          height: 100%;

          .v-window-item {
            height: 100%;

            .terminal:not(.xterm-cursor-style-underline):not(
                .xterm-cursor-style-bar
              ).focus.xterm-cursor-blink-on
              .terminal-cursor {
              background-color: transparent;
              color: inherit;
            }
            .terminal.xterm-cursor-style-bar.focus.xterm-cursor-blink.xterm-cursor-blink-on
              .terminal-cursor::before,
            .terminal.xterm-cursor-style-underline.focus.xterm-cursor-blink.xterm-cursor-blink-on
              .terminal-cursor::before {
              background-color: transparent;
            }
            .terminal.xterm-cursor-style-bar.focus.xterm-cursor-blink
              .terminal-cursor::before,
            .terminal.xterm-cursor-style-underline.focus.xterm-cursor-blink
              .terminal-cursor::before {
              background-color: #fff;
            }

            .terminal-container {
              display: block;
              padding: 2px;
            }

            .terminal-container .terminal {
              background-color: inherit;
              padding: 2px;

              .xterm-rows {
                div {
                  color: white;
                }
              }
            }

            .terminal-container .terminal:focus .terminal-cursor {
              background-color: #fafafa;
            }
          }
        }

        // .threads {
        //   color: inherit;
        //   p {
        //     color: inherit;
        //   }
        // }

        // .current-thread {
        //   display: flex;
        //   color: white;
        //   gap: 0.3rem;
        //   input {
        //     color: white;
        //     outline: none;
        //   }
        // }
      }
    }
  }

  @media #{$media-tablet} {
    .container {
      width: 90%;
    }
    .close--btn {
      display: block;
    }
  }
}
