$txt-main: #114D9E;
$txt-second: #1E1E1E;
$bg: #2081E3;
$white: white;

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";