@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@import "pages/splash.scss";
@import "pages/login.scss";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $txt-second;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.my-2 {
  margin: 4rem 0;
}