@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@import "pages/splash.scss";
@import "pages/login.scss";
@import "pages/dashboard.scss";
@import "pages/explorer.scss";
@import "pages/terminal.scss";
@import "pages/home.scss";
@import "variables";
// @import "../../../public/xterm/dist/xterm.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $txt-second;
  font-family: 'Poppins', sans-serif;
  user-select: none; 
}

a {
  text-decoration: none;
}

.pa-0 {
  padding: 0 !important;
}

.my-2 {
  margin: 4rem 0;
}

.d-flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h-full {
  height: 100vh;
}